vendor/
*.log
*.db
.DS_Store
dependency-check-report.html
dependency-check-report.json
dependency-check-report.xml
sonar-scanner/
.scannerwork/
zap-report.html
zap-report.xml
composer.lock
uploads/
*.tmp
