<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Rewrite /vulnerable-app/login to /vulnerable-app/pages/login.php -->
                <rule name="Rewrite to pages directory" stopProcessing="true">
                    <match url="^(login|register|profile|dashboard|admin|logout|upload|post)$" />
                    <action type="Rewrite" url="pages/{R:1}.php" />
                </rule>
                
                <!-- Rewrite /vulnerable-app/api to /vulnerable-app/api/api.php -->
                <rule name="Rewrite API" stopProcessing="true">
                    <match url="^api$" />
                    <action type="Rewrite" url="api/api.php" />
                </rule>
            </rules>
        </rewrite>
        
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
